/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
   background: greenyellow;
}
p {
   color: black;            
   font-size:100px;        
   font-weight: bold;  
   text-align: center;      
   margin-top: 35vh;  
}





